* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body {
    background-color: rgb(233, 154, 154);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(225, 159, 124);
}